<div class = "top-container">
  <div class = "top-message">
    <%= current_user.office.message %>
  </div>
</div>
<div class = "top-guidance">
  <p>ご回答ありがとうございました。</p>
  <p>ウエディングプランナーがお声がけするまで、このままお席でお待ち下さい。</p>
</div>
