<div class = "top-container">
  <div class = "top-message">
    <%= current_user.office.message %>
  </div>
</div>
<div class = "top-guidance">
  <p>この度はご来館いただきありがとうございます。</p>
  <p>ご案内までの間に、インタビューシートへのご回答をお願い致します。</p>
  <%= link_to '回答を開始する', new_answer_path, class: "square_btn" %>
</div>
